@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: Raleway, serif;
}

header {
    width: 230px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #FDE70E;
    overflow: hidden;
    transition: all .5s ease-in-out;
    transition-delay: 0s;
}

header.collapsed {
    height: 100px;
    transition-delay: .5s;
}

header.collapsed nav {
    opacity: 0;
    transition-delay: 0s;
}

header.collapsed #header-overlay {
    display: block;
    opacity: 1;
    pointer-events: all;
    transition: all .25s ease-in-out;
    transition-delay: .75s;
}

header.collapsed:hover {
    background: #fbd100;
}

.logo {
    display: block;
    margin: 25px 32px 32px;
}

.logo img {
    display: block;
}

nav {
    width: 100%;
    margin-top: 15px;
    flex-grow: 1;
    transition: opacity .5s ease-in-out;
    transition-delay: .5s;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    display: block;
    text-decoration: none;
    color: #000;
}

nav a {
    width: 100%;
    padding: 12px 29px 11px 32px;
    box-sizing: border-box;
    font-size: 1.125rem;
    line-height: 1.5;
    transition-duration: 83.33ms;
}

nav a:hover {
    background-color: #f5dd19;
}

#header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: all .25s ease-in-out;
    transition-delay: 0s;
}

#header-overlay img {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -5px;
}

#header-overlay:hover main {
    background: #fbd100;
}

main {
    padding: 24px 34px 0 280px;
}

#bread-crumb {
    margin-bottom: 40px;
    cursor: default;
}

#bread-crumb .bread-crumb-item {
    color: #767573;
}

#bread-crumb .bread-crumb-item.active {
    color: #000000;
}

#bread-crumb img {
    height: 7px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 13px;
}

h1:after {
    height: 4px;
    background-color: #FDE70E;
    content: " ";
    width: 80px;
    display: block;
    margin-top: 13px;
}

p {
    line-height: 1.625;
    font-weight: 500;
    color: #4c4c4c;
}

p a {
    color: #000;
    opacity: .7;
    font-weight: 600;
}

p a:hover {
    opacity: 1;
}

button {
    display: inline-block;
    height: 60px;
    padding: 0 30px;
    border: 2px solid transparent;
    line-height: 60px;
    border-radius: 0;
    outline: 0;
    background-color: #000;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 83.33ms ease-in-out;
}

button:hover {
    color: #000;
    background-color: #FDE70E;
}

button:disabled {
    opacity: .4;
    color: #fff;
    background-color: #000;
    cursor: default;
}

#content {
    margin-bottom: 150px;
    max-width: 930px;
}

.question-container button {
    width: 100px;
}

.question-container .question-title {
    color: #767573;
    font-weight: bold;
    line-height: 1.5;
}

.question-container .question-info {
    font-size: 0.75rem;
    font-style: italic;
    color: #767573;
    line-height: 1.888em;
    font-weight: 600;
    margin-top: 3px;
}

.question-container .text-field {
    border: 2px solid #deded9;
    background: #f7f7f5;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding-left: 17px;
    height: 60px;
    line-height: 60px;
    font-family: Raleway, serif;
}

.question-container .text-field:hover {
    border-color: #bebdb9;
}

.question-container .text-field:focus {
    border-color: #000000;
    background: #FFFFFF;
    outline: none;
}

.question-container .text-field.multi-line {
    padding-top: 17px;
    padding-right: 17px;
    line-height: 1.8;
    height: 120px;
    min-height: 120px;
    resize: vertical;
}

.question-container #explanation-link {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.question-container .buttons {
    margin-top: 1.5rem;
}

.question-container .buttons button {
    margin-right: 10px;
}

#action-buttons {
    position: fixed;
    right: 35px;
    bottom: 35px;
}

#action-buttons div#slowsoft {
    float: left;
    margin-top: 1rem;
    margin-right: 2rem;
}

#action-buttons div#slowsoft a {
    display: inline-block;
    font-size: 0.7rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

#action-buttons div#slowsoft a img {
    height:1.5rem;
}

#action-buttons button {
    width: 50px;
    height: 50px;
    padding: 11px;
    opacity: .7;
    border-radius: 25px;
    margin: 5px;
    display: block;
    float: left;
    line-height: 24px;
    background: #555555;
    transition: opacity .25s ease-in-out;
}

#action-buttons button:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

#action-buttons button svg {
    width: 24px;
    height: 24px;
    display: block;
}

.summary .question-title {
    color: #767573;
    font-weight: bold;
    line-height: 1.5;
}

.summary .edit-image, .summary .edit-image-disabled {
    height: 0.75rem;
}

.summary .edit-image {
    cursor: pointer;
    margin-left: 0.5rem;
}

.summary h2 {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.1;
    padding-bottom: 18px;
    position: relative;
    border-bottom: 4px solid #deded9;
}

.summary .no-answer {
    font-size: 0.75rem;
    font-style: italic;
    color: #767573;
    line-height: 1.888em;
    font-weight: 600;
    margin-top: 3px;
}

.error-message {
    color: red;
}
