.desktop-navigation {
    background-color: #FDE70E;

    .view-button-tab.selected {
        background-color: #e0cb00;
      }

    .outline-title { 
        color: #000000;
    }

    .tree-node {
        span.text {
            color: #000000;
        }
    }

    .desktop-navigation-handle.collapse-handle > .collapse-handle-body {
        background-color: #c3af00;
    }

}